<?php

declare(strict_types=1);

namespace {{package}};

use Elastic\OpenApi\Codegen\Endpoint\AbstractEndpoint;

class {{classname}} extends AbstractEndpoint
{
{{#operations}}
{{#operation}}
    protected string $method = '{{httpMethod}}';

    protected string $uri = '{{basePathWithoutHost}}{{path}}';
{{#pathParams.0}}

    /** @var array<string> */
    protected array $routeParams = [{{#pathParams}}
        '{{baseName}}',{{/pathParams}}
    ];
{{/pathParams.0}}
{{#queryParams.0}}

    /** @var array<string> */
    protected array $paramWhitelist = [{{#queryParams}}
        '{{baseName}}',{{/queryParams}}
    ];
{{/queryParams.0}}
{{/operation}}
{{/operations}}
}
