<?php

declare(strict_types=1);

namespace {{package}};

use Elastic\OpenApi\Codegen\Endpoint\AbstractEndpoint;

class {{classname}} extends AbstractEndpoint
{
{{#operations}}
{{#operation}}
    protected string $method = '{{httpMethod}}';

    protected string $uri = '{{path}}';
{{#pathParams.0}}

    /** @var array<string> */
    protected array $routeParams = [{{#pathParams}}'{{baseName}}'{{#hasMore}}, {{/hasMore}}{{/pathParams}}];
{{/pathParams.0}}
{{#queryParams.0}}

    /** @var array<string> */
    protected array $paramWhitelist = [{{#queryParams}}'{{baseName}}'{{#hasMore}}, {{/hasMore}}{{/queryParams}}];
{{/queryParams.0}}
{{/operation}}
{{/operations}}
}
