<?php

declare(strict_types=1);

namespace {{invokerPackage}};

{{#models}}{{#model}}use {{modelPackage}}\{{classname}};
{{/model}}{{/models}}use Elastic\OpenApi\Codegen\AbstractClient;

{{#clientClassQualifier}}{{{.}}} {{/clientClassQualifier}}class {{clientClass}} extends AbstractClient
{{=<% %>=}}{<%#apiInfo%><%={{ }}=%>{{#apis}}{{#operations}}{{#operation}}
    /**
{{#summary}}
     * {{.}}
     *
{{/summary}}
{{#notes}}
     * {{.}}
     *
{{/notes}}
{{#externalDocs}}
     * Documentation: {{url}}
     *
{{/externalDocs}}
     * @return array<mixed>
     */
    {{vendorExtensions.x-operation-scope}} function {{operationId}}({{#pathParams}}{{dataType}} ${{paramName}}{{^required}} = {{#defaultValue}}{{{.}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/required}}{{#hasMore}}, {{/hasMore}}{{/pathParams}}{{#queryParams.0}}{{#pathParams.0}}, {{/pathParams.0}}{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}Query $query{{/queryParams.0}}{{#bodyParams.0}}{{#pathParams.0}}, {{/pathParams.0}}{{#queryParams.0}}{{^pathParams.0}}, {{/pathParams.0}}{{/queryParams.0}}{{^bodyParams.0.required}}?{{/bodyParams.0.required}}{{bodyParams.0.baseType}} $body{{^bodyParams.0.required}} = null{{/bodyParams.0.required}}{{/bodyParams.0}}) : array
    {
        {{#pathParams.0}}
        $path = [
            {{#pathParams}}
            '{{baseName}}' => ${{paramName}},
            {{/pathParams}}
        ];

        {{/pathParams.0}}
        return $this->performRequest(
            $this
                ->endpoint('{{classname}}')
                {{#allParams.0}}
                ->setParams({{#pathParams.0}}{{^queryParams.0}}$path){{/queryParams.0}}{{/pathParams.0}}{{^pathParams.0}}{{#queryParams.0}}$query->toArray()){{/queryParams.0}}{{/pathParams.0}}{{#pathParams.0}}{{#queryParams.0}}array_merge($path, $query->toArray())){{/queryParams.0}}{{/pathParams.0}}
                {{/allParams.0}}
                {{#bodyParams.0}}
                ->setBody($body{{^bodyParams.0.required}} ? $body->toArray() : []{{/bodyParams.0.required}})
                {{/bodyParams.0}}
        );
    }
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
}
