<?php
{{#models}}
declare(strict_types=1);

namespace {{modelPackage}}Factory;
{{#model}}
use ADS\JsonImmutableObjects\FactoryFromArray;
use {{modelPackage}}Model\{{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}};

/**
 * @method static {{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}} fromArray(array $array)
 */
class {{classname}}
{
    use FactoryFromArray;

    protected static function modelClass(): string
    {
        return {{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}}::class;
    }
}{{/model}}{{/models}}