<?php

declare(strict_types=1);

namespace {{invokerPackage}};

use ADS\ClientMock\RestClientMock;
use Mockery;

/**{{#apiInfo.apis}}{{#operations}}{{#operation}}
 * @method static void {{operationId}}($response, ...$request){{/operation}}{{/operations}}{{/apiInfo.apis}}
 */
final class {{clientClass}}Mock extends RestClientMock
{
    protected static Mockery\MockInterface|Mockery\LegacyMockInterface|null $client = null;

    /** @var array<string, array<array<string, array<mixed>>>> */
    protected static array $mocks = [];

    public static function factoryClass(): string
    {
        return ClientBuilder::class;
    }

    public static function clientClass(): string
    {
        return Client::class;
    }
}
