<?php

declare(strict_types=1);

namespace {{invokerPackage}};

use ADS\ClientMock\RestClientMock;
use Mockery\LegacyMockInterface;
use Mockery\MockInterface;

/**{{#apiInfo.apis}}{{#operations}}{{#operation}}
 * @method static void {{operationId}}($response, ...$request){{/operation}}{{/operations}}{{/apiInfo.apis}}
 */
final class {{clientClass}}Mock extends RestClientMock
{
    protected static MockInterface|LegacyMockInterface|null $client = null;

    /** @var array<string, array<array<string, array<mixed>>>> */
    private static array $mocks = [];

    protected static function factoryClass(): string
    {
        return ClientBuilder::class;
    }

    protected static function clientClass(): string
    {
        return Client::class;
    }
}
