<?php
{{#models}}

declare(strict_types=1);

namespace {{modelPackage}};
{{#model}}
{{#getIsAnyType}}{{#discriminator}}
use ADS\JsonImmutableObjects\Polymorphism\Discriminator;
use ADS\JsonImmutableObjects\Polymorphism\DiscriminatorLogic;{{/discriminator}}{{/getIsAnyType}}{{^getIsAnyType}}
use ADS\JsonImmutableObjects\JsonSchemaAwareRecordLogic;
use Elastic\OpenApi\Codegen\Endpoint\SpecialKeySupportLogic;
use EventEngine\Data\SpecialKeySupport;
use EventEngine\JsonSchema\JsonSchemaAwareRecord;{{/getIsAnyType}}

final class {{classname}}{{^getIsAnyType}} implements SpecialKeySupport, JsonSchemaAwareRecord{{/getIsAnyType}}{{#discriminator}} implements Discriminator{{/discriminator}}
{
    {{^getIsAnyType}}use JsonSchemaAwareRecordLogic;
    use SpecialKeySupportLogic;{{/getIsAnyType}}{{#getIsAnyType}}{{#discriminator}}use DiscriminatorLogic;

    public static function propertyName(): string
    {
        return '{{propertyName}}';
    }

    /**
    * @inheritDoc
    */
    public static function mapping(): array
    {
        return [{{#mappedModels}}
            '{{mappingName}}' => {{modelName}}::class,{{/mappedModels}}];
    }

    /**
    * @inheritDoc
    */
    public static function jsonSchemaAwareRecords(): array
    {
        return [{{#interfaceModels}}
            {{name}}::class,{{/interfaceModels}}
        ];
    }
{{/discriminator}}{{/getIsAnyType}}{{^getIsAnyType}}

// phpcs:disable SlevomatCodingStandard.Classes.UnusedPrivateElements.UnusedProperty
// phpcs:disable Squiz.NamingConventions.ValidVariableName.MemberNotCamelCaps
{{#vars}}
    /** @var {{#complexType}}{{^isContainer}}{{complexType}}{{/isContainer}}{{#isContainer}}{{baseType}}{{/isContainer}}{{/complexType}}{{^complexType}}{{baseType}}{{/complexType}}{{#isContainer}}<{{^items.complexType}}{{#items.isContainer}}mixed{{/items.isContainer}}{{^items.isContainer}}{{items.baseType}}{{/items.isContainer}}{{/items.complexType}}{{#items.complexType}}{{{.}}}{{/items.complexType}}>{{/isContainer}}{{#isFreeFormObject}}<mixed>{{/isFreeFormObject}}{{#isNullable}}|null{{/isNullable}}{{^required}}{{^isNullable}}|null{{/isNullable}}{{/required}} */
    private ${{name}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}{{#isNullable}} = null{{/isNullable}}{{^required}}{{^isNullable}} = null{{/isNullable}}{{/required}}{{/defaultValue}};
{{/vars}}
{{#vars}}
    /**
    * @return {{#complexType}}{{^isContainer}}{{complexType}}{{/isContainer}}{{#isContainer}}{{baseType}}{{/isContainer}}{{/complexType}}{{^complexType}}{{baseType}}{{/complexType}}{{#isContainer}}<{{^items.complexType}}{{#items.isContainer}}mixed{{/items.isContainer}}{{^items.isContainer}}{{items.baseType}}{{/items.isContainer}}{{/items.complexType}}{{#items.complexType}}{{{.}}}{{/items.complexType}}>{{/isContainer}}{{#isFreeFormObject}}<mixed>{{/isFreeFormObject}}{{#isNullable}}|null{{/isNullable}}{{^required}}{{^isNullable}}|null{{/isNullable}}{{/required}}
    */
    public function {{getter}}()
    {
        return $this->{{name}};
    }
{{/vars}}

    /**
    * @return array<string, string>
    */
    private static function arrayPropItemTypeMap(): array
    {
        return [{{#vars}}{{#isListContainer}}{{^items.isContainer}}
            '{{name}}' => {{^complexType}}'{{items.baseType}}'{{/complexType}}{{#complexType}}{{{.}}}::class{{/complexType}},{{/items.isContainer}}{{/isListContainer}}{{#isContainer}}{{^isListContainer}}{{^items.isContainer}}
            '{{name}}' => {{^complexType}}'{{items.baseType}}'{{/complexType}}{{#complexType}}{{{.}}}::class{{/complexType}},{{/items.isContainer}}{{/isListContainer}}{{/isContainer}}{{/vars}}
        ];
    }

    /**
    * @return array<string, int>
    */
    private static function maxValues(): array
    {
        return [{{#vars}}{{#maximum}}
            '{{name}}' => {{maximum}},{{/maximum}}{{/vars}}
        ];
    }

    public function convertKeyForRecord(string $key): string
    {
        $map = [{{#vars}}
            '{{baseName}}' => '{{name}}',{{/vars}}
        ];

        return $this->convertByMap($key, $map);
    }

    public function convertKeyForArray(string $key): string
    {
        $map = [{{#vars}}
            '{{name}}' => '{{baseName}}',{{/vars}}
        ];

        return $this->convertByMap($key, $map);
    }
// phpcs:enable
{{/getIsAnyType}}}{{/model}}{{/models}}
