<?php
{{#models}}

declare(strict_types=1);

namespace {{modelPackage}};

use EventEngine\Data\ImmutableRecord;
use EventEngine\Data\ImmutableRecordLogic;

{{#model}}
final class {{classname}} implements ImmutableRecord
{
    use ImmutableRecordLogic;

// phpcs:disable SlevomatCodingStandard.Classes.UnusedPrivateElements.UnusedProperty
// phpcs:disable Squiz.NamingConventions.ValidVariableName.MemberNotCamelCaps
{{#vars}}{{#isListContainer}}
    /** @var {{dataType}}<{{^complexType}}{{items.dataType}}{{/complexType}}{{#complexType}}{{{.}}}{{/complexType}}>{{^required}}|null{{/required}} */{{/isListContainer}}{{#isContainer}}{{^isListContainer}}
    /** @var {{dataType}}<{{^complexType}}{{items.dataType}}{{/complexType}}{{#complexType}}{{{.}}}{{/complexType}}>{{^required}}|null{{/required}} */{{/isListContainer}}{{/isContainer}}{{#isFreeFormObject}}
    /** @var {{dataType}}<mixed>{{^required}}|null{{/required}} */{{/isFreeFormObject}}
    private {{^required}}?{{/required}}{{#complexType}}{{#isListContainer}}{{dataType}}{{/isListContainer}}{{^isListContainer}}{{complexType}}{{/isListContainer}}{{/complexType}}{{^complexType}}{{dataType}}{{/complexType}} ${{baseName}}{{^required}} = null{{/required}};
{{/vars}}
// phpcs:enable
}{{/model}}{{/models}}
