<?php
{{#models}}
declare(strict_types=1);

namespace {{modelPackage}};

use EventEngine\Data\ImmutableRecord;
use EventEngine\Data\ImmutableRecordLogic;

{{#model}}
final class {{classname}} implements ImmutableRecord
{
    use ImmutableRecordLogic;

// phpcs:disable SlevomatCodingStandard.Classes.UnusedPrivateElements.UnusedProperty
// phpcs:disable Squiz.NamingConventions.ValidVariableName.MemberNotCamelCaps
{{#vars}}
    private {{^required}}?{{/required}}{{dataType}} ${{baseName}};
{{/vars}}
// phpcs:enable
}
{{/model}}{{/models}}
