{{>readme_title}}
{{>readme_content}}
{{>readme_install}}
{{>readme_usage}}
### Clients methods

All path parameters are scalar values. But we bundle the query parameters and body parameters in a query and body immutable record.
Use the `fromArray` static method to create the immutable record and send it to this client as a parameter.
All the used immutable records can be imported from this library.

Method      | Description | Documentation
------------|-------------|--------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}{{#vendorExtensions.x-add-to-documentation}}**`{{operationId}}`**| {{#summary}}{{.}}{{/summary}}{{#allParams.0}}<br/> <br/> **Parameters :** <br />{{#pathParams}}  - `{{dataType}} ${{paramName}}`{{#required}} (required) {{/required}}{{#hasMore}}<br /> {{/hasMore}}{{/pathParams}}{{#queryParams.0}}{{#pathParams.0}}<br /> {{/pathParams.0}}  - `{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}Query $query`{{/queryParams.0}}{{#bodyParams.0}}{{#pathParams.0}}<br /> {{/pathParams.0}}{{#queryParams.0}}{{^pathParams.0}}<br /> {{/pathParams.0}}{{/queryParams.0}}  - `{{bodyParams.0.baseType}} $body`{{#bodyParams.0.required}} (required) {{/bodyParams.0.required}}{{/bodyParams.0}}<br />{{/allParams.0}}{{#externalDocs}}|[Endpoint Documentation]({{url}}){{/externalDocs}}
{{/vendorExtensions.x-add-to-documentation}}{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
{{>readme_dev}}
{{>readme_faq}}
